@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer base {
    li {
        @apply p-4
    }

    .dialog-window{
        position: absolute;
        left: 40%;
        top: 35%;
        background-color: black;
        z-index: 150;
        width: 400px;
    }
    .dialog-wrapper{
        z-index: 120;
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 90%;
    }

    .btn-container
    {
        width: 50%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        align-content: center;
    }

    .btn{
        width: 100%;
        text-align: center;
        height: 40px;
        border-radius: 10px;
    }

    .btn-primary{
        color: white;
        background-color: rgb(65, 151, 169);
    }

    .input-field
    {
        width: 100%;
        border-bottom-width: 2px;
        border-color: rgb(65, 151, 169);
        color: black;
        margin: 15px 0 15px 0;
    }
    .btn-secondary
    {
        color: black;
        background-color: grey;
    }
    .btn-secondary:hover
    {
        color: white;
        background-color: darkgray;
    }
}