* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.bg {
    background-color: white;
    height: 100vh;
    width: 100vw;
}

.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 39px;
    padding: 10px 30px;
    width: 100%;
}

.navbar > ul {
    display: flex;
    justify-content: space-between;
}

.navbar > ul > li {
    list-style-type: none;
}

.navbar > ul > li > a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.navbar > ul > li > a:hover {
    color: royalblue;
    cursor: pointer;
}