name: Run unit tests on client
on:
  pull_request:
    types: [opened, reopened, ready_for_review, edited, synchronize]

jobs:
  test-client:
    name: Run Tests on client
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      actions: read
      checks: read
      contents: read
      deployments: read
      issues: write
    steps:
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18.7.0
          cache: 'npm'
          cache-dependency-path: ./client/package-lock.json
      - name: npm install
        run: npm install --force
        working-directory: ./client

      - name: Check Unit Tests
        run: npm test
        working-directory: ./client

  test-server:
    name: Run Tests on server
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      actions: read
      checks: read
      contents: read
      deployments: read
      issues: write
    steps:
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18.7.0
          cache: 'npm'
          cache-dependency-path: ./client/package-lock.json
      - name: npm install
        run: npm install
        working-directory: ./server

      - name: Check Unit Tests
        with:
          AUTH0_AUDIENCE: ${{ secrets.AUTH0_AUDIENCE }}
          AUTH0_CLIENT_ID: ${{ secrets.AUTH0_CLIENT_ID }}
          AUTH0_CLIENT_SECRET: ${{ secrets.AUTH0_CLIENT_SECRET }}
          AUTH0_URL: ${{ secrets.AUTH0_URL }}
        run: npm test
        working-directory: ./server
